{% extends "game/base.html" %}
{% block content%}
<h1> Insert Donations Here </h1>
  <div>
    <p>
      For my first Django project I wanted to make something lighthearted and fun, so I decided to make a tribute to the retro game Space Invaders.
      The game isnt exactly the same as Space Invaders since it doesnt feature shelters (yet)
      and the invaders dont shoot back (yet). Also there is only one level and the way points
      are calculated is different.
      <br>
      <br>
      Enjoyed the game? Consider donating to help me keep the website up and work on adding new functions :)
    </p>
    <ul id="donatelist">
      <li>
        <a class="btn btn-ppl" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ingmarvdg@gmail.com&lc=US&item_name=
Donation+to+support+Insert+Invaders+Here+Site&no_note=0&cn=&currency_code=EUR&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted" role="button" target="_blank" >Donate using Paypal</a>
      </li>


    </ul>
  </div>
{% endblock content %}
