{% extends "game/base.html" %}
{% block content%}
{% load staticfiles %}
    <script>
      var invader_img_url = "{{game.invader.url}}"
      var defender_img_url = "{{game.defender.url}}"
      var projectile_color = "{{game.projectile_color}}"
      var invader_name = "{{game.invader_name}}"
    </script>
    <div class="header">
      <h1> {{game.invader_name}} Invasion </h1>
      <p> Share your creation by copying the URL. <p>
      <button class="btn btn-copy" id="copybtn"> Copy Link </button>
    </div>

    <div id="gamearea">
      <!-- Our sketch will go here! -->
    </div>
    <div id="touchcontrols" class="btn-group" style="width:100%; justify-content: center;">
      <button class="btn btn-ctrl" id="leftbtn" ontouchstart="defender.setdirection(-1)" ontouchend="defender.setdirection(0)"> L </button>
      <button class="btn btn-ctrl" id="rightbtn" ontouchstart="defender.setdirection(1)" ontouchend="defender.setdirection(0)"> R </button>
      <button class="btn btn-ctrl" id="shootbtn" ontouchstart="shoot()"> Pew </button>
    </div>

    <div id="endgameview">
      <span>
      <h2 id="endgametext"> The game has ended </h2>
      <br>
        <button class="btn btn-endgame" value="Refresh Page" onClick="window.location.reload()"> Play Again </button>
        <br>
        <a class="btn btn-endgame" href="{% url 'create' %}">
          Create another game
        </a>
      </span>
    </div>
    <p id="game_url"> {{ request.get_full_path }} </p>
      <script src={% static 'game/js/defender.js' %}></script>
      <script src={% static 'game/js/invader.js' %}></script>
      <script src={% static 'game/js/projectile.js' %}></script>
      <script src={% static 'game/js/game.js' %}></script>
      <script src={% static 'game/js/sketch.js' %}></script>
{% endblock content %}
